pip>=23.3; sys_platform == 'darwin'
wheel; sys_platform == 'darwin'
PyYAML; sys_platform == 'darwin'
numpy==1.26.4
requests
mega.py
gdown
wget
gradio>=5.23
librosa==0.9.2
sox
yt_dlp
pedalboard
onnxruntime-gpu>=1.17
torch<2.6
fairseq==0.12.2
ffmpeg-python>=0.2.0
praat-parselmouth>=0.4.2
torchcrepe==0.0.23
pyworld==0.3.4
faiss-cpu==1.7.3
tensorboardX
noisereduce
matplotlib==3.7.2
